@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:700|Roboto:900&display=swap");
* {
  margin: 0;
  font-family: Roboto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 120%;
  text-decoration: none;
  color: currentColor;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  color: #F5F5F5;
  overflow-x: hidden;
}

body {
  background-image: url(./noise.png);
  background-repeat: repeat;
}

img {
  display: block;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 33%;
     object-position: center 33%;
}

.all {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

span {
  display: block;
}

.all {
      grid-template-areas: "a b c";
  -ms-grid-columns: 19fr 34fr 19fr;
      grid-template-columns: 19fr 34fr 19fr;
}

.back {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
  -ms-grid-column-align: right;
      justify-self: right;
  align-self: flex-start;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  place-items: center;
}

.back:hover > span::after {
  -webkit-animation: glitch_for_list 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: glitch_for_list 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.back:hover > span::before {
  animation: glitch_for_list 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.back:hover .arrow-back > div::after {
  -webkit-animation: glitch_for_list 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: glitch_for_list 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.back:hover .arrow-back > div::before {
  animation: glitch_for_list 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.back > span {
  margin-left: .2rem;
  position: relative;
}

.back > span::after, .back > span::before {
  content: 'CELÁ TŘÍDA';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.back > span::before {
  color: #f0f;
  z-index: -1;
}

.back > span::after {
  color: #0ff;
  z-index: -2;
}

.back .arrow-back {
  display: inline-block;
  width: 1rem;
  position: relative;
  height: 1rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.back .arrow-back > div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #F5F5F5;
}

.back .arrow-back > div::after, .back .arrow-back > div::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.back .arrow-back > div::before {
  background-color: #f0f;
  z-index: -1;
}

.back .arrow-back > div::after {
  background-color: #0ff;
  z-index: -2;
}

.back .arrow-back > div:first-child {
  bottom: auto;
  height: 6px;
}

.back .arrow-back > div:last-child {
  left: auto;
  width: 6px;
}

.class {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  display: -ms-grid;
  display: grid;
  place-content: center;
  place-items: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  text-transform: uppercase;
  font-size: 2.5rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.class > span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.info {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  row-gap: 2rem;
  padding: 5rem 2rem;
}

.info .name {
  font-size: 3.75rem;
  text-transform: uppercase;
  display: table-caption;
}

.info .nickname {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.info .nickname::before {
  content: '';
  height: 6px;
  width: 2.5rem;
  display: inline-block;
  background-color: #F5F5F5;
  margin-bottom: calc(2rem / 3);
  margin-right: .75rem;
}

.info .about {
  font-size: 1.25rem;
  font-family: Roboto Mono;
}

.arrows {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  align-self: flex-end;
  justify-self: flex-start;
  margin-bottom: 2rem;
  -webkit-transform: translateX(-3.75rem);
          transform: translateX(-3.75rem);
}

.arrows > a {
  display: block;
  position: relative;
  background-color: #F5F5F5;
  width: 3.75rem;
  height: 3.75rem;
  padding: 1.2rem;
  cursor: pointer;
}

.arrows > a:hover {
  background-color: #111319;
}

.arrows > a:hover > div::after, .arrows > a:hover > div::before {
  background-color: #F5F5F5;
}

.arrows > a:hover div:nth-child(2) {
  -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.arrows > a:hover div:nth-child(2)::after, .arrows > a:hover div:nth-child(2)::before {
  background-color: #f0f;
}

.arrows > a:hover div:nth-child(1) {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.arrows > a:hover div:nth-child(1)::after, .arrows > a:hover div:nth-child(1)::before {
  background-color: #0ff;
}

.arrows > a > div {
  position: absolute;
  top: 1.2rem;
  bottom: 1.2rem;
  right: 1.2rem;
  left: 1.2rem;
}

.arrows > a > div::after, .arrows > a > div::before {
  content: '';
  display: block;
  background-color: #111319;
  position: absolute;
  top: 0;
  right: 0;
}

.arrows > a > div::after {
  left: 0;
  height: 8px;
}

.arrows > a > div::before {
  bottom: 0;
  width: 8px;
}

.arrows > a.left > div {
  -webkit-transform: translateX(2px) rotate(-135deg);
          transform: translateX(2px) rotate(-135deg);
}

.arrows > a.right > div {
  -webkit-transform: translateX(-2px) rotate(45deg);
          transform: translateX(-2px) rotate(45deg);
}

@-webkit-keyframes glitch {
  0% {
    top: 1.2rem;
    bottom: 1.2rem;
    right: 1.2rem;
    left: 1.2rem;
  }
  20% {
    top: calc(1.2rem + 1px);
    bottom: calc(1.2rem - 1px);
    right: calc(1.2rem + 1px);
    left: calc(1.2rem - 1px);
  }
  40% {
    top: calc(1.2rem - 1px);
    bottom: calc(1.2rem + 1px);
    right: calc(1.2rem + 1px);
    left: calc(1.2rem - 1px);
  }
  60% {
    top: calc(1.2rem + 1px);
    bottom: calc(1.2rem - 1px);
    right: calc(1.2rem - 1px);
    left: calc(1.2rem + 1px);
  }
  80% {
    top: calc(1.2rem - 1px);
    bottom: calc(1.2rem + 1px);
    right: calc(1.2rem - 1px);
    left: calc(1.2rem + 1px);
  }
  to {
    top: 1.2rem;
    bottom: 1.2rem;
    right: 1.2rem;
    left: 1.2rem;
  }
}

@keyframes glitch {
  0% {
    top: 1.2rem;
    bottom: 1.2rem;
    right: 1.2rem;
    left: 1.2rem;
  }
  20% {
    top: calc(1.2rem + 1px);
    bottom: calc(1.2rem - 1px);
    right: calc(1.2rem + 1px);
    left: calc(1.2rem - 1px);
  }
  40% {
    top: calc(1.2rem - 1px);
    bottom: calc(1.2rem + 1px);
    right: calc(1.2rem + 1px);
    left: calc(1.2rem - 1px);
  }
  60% {
    top: calc(1.2rem + 1px);
    bottom: calc(1.2rem - 1px);
    right: calc(1.2rem - 1px);
    left: calc(1.2rem + 1px);
  }
  80% {
    top: calc(1.2rem - 1px);
    bottom: calc(1.2rem + 1px);
    right: calc(1.2rem - 1px);
    left: calc(1.2rem + 1px);
  }
  to {
    top: 1.2rem;
    bottom: 1.2rem;
    right: 1.2rem;
    left: 1.2rem;
  }
}

.glitch {
  position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(name);
  padding: 30px;
  margin-top: -30px;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./noise.png);
  background-repeat: repeat;
  overflow: hidden;
  top: 0;
}

.glitch::before {
  left: -27px;
  text-shadow: -2px 0 red;
  -webkit-animation-name: glitch-animation-1;
          animation-name: glitch-animation-1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: steps(30);
          animation-timing-function: steps(30);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

.glitch::after {
  left: -33px;
  text-shadow: -2px 0 blue;
  -webkit-animation-name: glitch-animation-2;
          animation-name: glitch-animation-2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: steps(30);
          animation-timing-function: steps(30);
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

@-webkit-keyframes glitch-animation-1 {
  0% {
    clip: rect(132px, 350px, 192px, 30px);
  }
  3.33333% {
    clip: rect(120px, 350px, 156px, 30px);
  }
  6.66667% {
    clip: rect(44px, 350px, 242px, 30px);
  }
  10% {
    clip: rect(11px, 350px, 210px, 30px);
  }
  13.33333% {
    clip: rect(22px, 350px, 178px, 30px);
  }
  16.66667% {
    clip: rect(21px, 350px, 93px, 30px);
  }
  20% {
    clip: rect(144px, 350px, 147px, 30px);
  }
  23.33333% {
    clip: rect(127px, 350px, 412px, 30px);
  }
  26.66667% {
    clip: rect(53px, 350px, 79px, 30px);
  }
  30% {
    clip: rect(28px, 350px, 143px, 30px);
  }
  33.33333% {
    clip: rect(14px, 350px, 285px, 30px);
  }
  36.66667% {
    clip: rect(96px, 350px, 252px, 30px);
  }
  40% {
    clip: rect(13px, 350px, 202px, 30px);
  }
  43.33333% {
    clip: rect(108px, 350px, 45px, 30px);
  }
  46.66667% {
    clip: rect(22px, 350px, 110px, 30px);
  }
  50% {
    clip: rect(71px, 350px, 220px, 30px);
  }
  53.33333% {
    clip: rect(38px, 350px, 397px, 30px);
  }
  56.66667% {
    clip: rect(44px, 350px, 59px, 30px);
  }
  60% {
    clip: rect(66px, 350px, 74px, 30px);
  }
  63.33333% {
    clip: rect(52px, 350px, 375px, 30px);
  }
  66.66667% {
    clip: rect(127px, 350px, 285px, 30px);
  }
  70% {
    clip: rect(6px, 350px, 80px, 30px);
  }
  73.33333% {
    clip: rect(38px, 350px, 55px, 30px);
  }
  76.66667% {
    clip: rect(101px, 350px, 414px, 30px);
  }
  80% {
    clip: rect(12px, 350px, 285px, 30px);
  }
  83.33333% {
    clip: rect(98px, 350px, 260px, 30px);
  }
  86.66667% {
    clip: rect(1px, 350px, 346px, 30px);
  }
  90% {
    clip: rect(13px, 350px, 167px, 30px);
  }
  93.33333% {
    clip: rect(60px, 350px, 231px, 30px);
  }
  96.66667% {
    clip: rect(1px, 350px, 291px, 30px);
  }
  100% {
    clip: rect(32px, 350px, 388px, 30px);
  }
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(132px, 350px, 192px, 30px);
  }
  3.33333% {
    clip: rect(120px, 350px, 156px, 30px);
  }
  6.66667% {
    clip: rect(44px, 350px, 242px, 30px);
  }
  10% {
    clip: rect(11px, 350px, 210px, 30px);
  }
  13.33333% {
    clip: rect(22px, 350px, 178px, 30px);
  }
  16.66667% {
    clip: rect(21px, 350px, 93px, 30px);
  }
  20% {
    clip: rect(144px, 350px, 147px, 30px);
  }
  23.33333% {
    clip: rect(127px, 350px, 412px, 30px);
  }
  26.66667% {
    clip: rect(53px, 350px, 79px, 30px);
  }
  30% {
    clip: rect(28px, 350px, 143px, 30px);
  }
  33.33333% {
    clip: rect(14px, 350px, 285px, 30px);
  }
  36.66667% {
    clip: rect(96px, 350px, 252px, 30px);
  }
  40% {
    clip: rect(13px, 350px, 202px, 30px);
  }
  43.33333% {
    clip: rect(108px, 350px, 45px, 30px);
  }
  46.66667% {
    clip: rect(22px, 350px, 110px, 30px);
  }
  50% {
    clip: rect(71px, 350px, 220px, 30px);
  }
  53.33333% {
    clip: rect(38px, 350px, 397px, 30px);
  }
  56.66667% {
    clip: rect(44px, 350px, 59px, 30px);
  }
  60% {
    clip: rect(66px, 350px, 74px, 30px);
  }
  63.33333% {
    clip: rect(52px, 350px, 375px, 30px);
  }
  66.66667% {
    clip: rect(127px, 350px, 285px, 30px);
  }
  70% {
    clip: rect(6px, 350px, 80px, 30px);
  }
  73.33333% {
    clip: rect(38px, 350px, 55px, 30px);
  }
  76.66667% {
    clip: rect(101px, 350px, 414px, 30px);
  }
  80% {
    clip: rect(12px, 350px, 285px, 30px);
  }
  83.33333% {
    clip: rect(98px, 350px, 260px, 30px);
  }
  86.66667% {
    clip: rect(1px, 350px, 346px, 30px);
  }
  90% {
    clip: rect(13px, 350px, 167px, 30px);
  }
  93.33333% {
    clip: rect(60px, 350px, 231px, 30px);
  }
  96.66667% {
    clip: rect(1px, 350px, 291px, 30px);
  }
  100% {
    clip: rect(32px, 350px, 388px, 30px);
  }
}

@-webkit-keyframes glitch-animation-2 {
  0% {
    clip: rect(7px, 350px, 153px, 30px);
  }
  3.33333% {
    clip: rect(140px, 350px, 277px, 30px);
  }
  6.66667% {
    clip: rect(101px, 350px, 311px, 30px);
  }
  10% {
    clip: rect(135px, 350px, 416px, 30px);
  }
  13.33333% {
    clip: rect(134px, 350px, 427px, 30px);
  }
  16.66667% {
    clip: rect(127px, 350px, 243px, 30px);
  }
  20% {
    clip: rect(17px, 350px, 272px, 30px);
  }
  23.33333% {
    clip: rect(105px, 350px, 155px, 30px);
  }
  26.66667% {
    clip: rect(122px, 350px, 257px, 30px);
  }
  30% {
    clip: rect(129px, 350px, 54px, 30px);
  }
  33.33333% {
    clip: rect(127px, 350px, 395px, 30px);
  }
  36.66667% {
    clip: rect(125px, 350px, 156px, 30px);
  }
  40% {
    clip: rect(147px, 350px, 175px, 30px);
  }
  43.33333% {
    clip: rect(75px, 350px, 48px, 30px);
  }
  46.66667% {
    clip: rect(142px, 350px, 34px, 30px);
  }
  50% {
    clip: rect(116px, 350px, 301px, 30px);
  }
  53.33333% {
    clip: rect(45px, 350px, 231px, 30px);
  }
  56.66667% {
    clip: rect(39px, 350px, 205px, 30px);
  }
  60% {
    clip: rect(93px, 350px, 287px, 30px);
  }
  63.33333% {
    clip: rect(68px, 350px, 173px, 30px);
  }
  66.66667% {
    clip: rect(25px, 350px, 241px, 30px);
  }
  70% {
    clip: rect(101px, 350px, 203px, 30px);
  }
  73.33333% {
    clip: rect(2px, 350px, 103px, 30px);
  }
  76.66667% {
    clip: rect(75px, 350px, 434px, 30px);
  }
  80% {
    clip: rect(78px, 350px, 22px, 30px);
  }
  83.33333% {
    clip: rect(133px, 350px, 402px, 30px);
  }
  86.66667% {
    clip: rect(4px, 350px, 137px, 30px);
  }
  90% {
    clip: rect(30px, 350px, 437px, 30px);
  }
  93.33333% {
    clip: rect(119px, 350px, 271px, 30px);
  }
  96.66667% {
    clip: rect(20px, 350px, 21px, 30px);
  }
  100% {
    clip: rect(137px, 350px, 79px, 30px);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(7px, 350px, 153px, 30px);
  }
  3.33333% {
    clip: rect(140px, 350px, 277px, 30px);
  }
  6.66667% {
    clip: rect(101px, 350px, 311px, 30px);
  }
  10% {
    clip: rect(135px, 350px, 416px, 30px);
  }
  13.33333% {
    clip: rect(134px, 350px, 427px, 30px);
  }
  16.66667% {
    clip: rect(127px, 350px, 243px, 30px);
  }
  20% {
    clip: rect(17px, 350px, 272px, 30px);
  }
  23.33333% {
    clip: rect(105px, 350px, 155px, 30px);
  }
  26.66667% {
    clip: rect(122px, 350px, 257px, 30px);
  }
  30% {
    clip: rect(129px, 350px, 54px, 30px);
  }
  33.33333% {
    clip: rect(127px, 350px, 395px, 30px);
  }
  36.66667% {
    clip: rect(125px, 350px, 156px, 30px);
  }
  40% {
    clip: rect(147px, 350px, 175px, 30px);
  }
  43.33333% {
    clip: rect(75px, 350px, 48px, 30px);
  }
  46.66667% {
    clip: rect(142px, 350px, 34px, 30px);
  }
  50% {
    clip: rect(116px, 350px, 301px, 30px);
  }
  53.33333% {
    clip: rect(45px, 350px, 231px, 30px);
  }
  56.66667% {
    clip: rect(39px, 350px, 205px, 30px);
  }
  60% {
    clip: rect(93px, 350px, 287px, 30px);
  }
  63.33333% {
    clip: rect(68px, 350px, 173px, 30px);
  }
  66.66667% {
    clip: rect(25px, 350px, 241px, 30px);
  }
  70% {
    clip: rect(101px, 350px, 203px, 30px);
  }
  73.33333% {
    clip: rect(2px, 350px, 103px, 30px);
  }
  76.66667% {
    clip: rect(75px, 350px, 434px, 30px);
  }
  80% {
    clip: rect(78px, 350px, 22px, 30px);
  }
  83.33333% {
    clip: rect(133px, 350px, 402px, 30px);
  }
  86.66667% {
    clip: rect(4px, 350px, 137px, 30px);
  }
  90% {
    clip: rect(30px, 350px, 437px, 30px);
  }
  93.33333% {
    clip: rect(119px, 350px, 271px, 30px);
  }
  96.66667% {
    clip: rect(20px, 350px, 21px, 30px);
  }
  100% {
    clip: rect(137px, 350px, 79px, 30px);
  }
}

.list {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "l";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-content: center;
  place-items: center;
  min-height: 100vh;
  height: auto;
}

.list > ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: .5rem;
}

.list > ul > li {
  display: blocks;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.list > ul > li > a {
  display: block;
  padding: 1rem 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
}

.list > ul > li > a:hover > span:before {
  -webkit-animation: glitch_for_list 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: glitch_for_list 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.list > ul > li > a:hover > span:after {
  animation: glitch_for_list 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.list > ul > li > a > span {
  display: inline;
  text-transform: uppercase;
  opacity: .8;
  position: relative;
}

.list > ul > li > a > span:before, .list > ul > li > a > span:after {
  display: block;
  content: attr(name);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
}

.list > ul > li > a > span:after {
  color: #f0f;
  z-index: -2;
}

.list > ul > li > a > span:before {
  color: #0ff;
  z-index: -1;
}

.list > ul > li > a:hover > span, .list > ul > li > a:focus > span {
  display: inline;
  text-transform: uppercase;
  opacity: 1;
  -webkit-transition: ease-in 100ms;
  transition: ease-in 100ms;
}

@-webkit-keyframes glitch_for_list {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px);
  }
  40% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  60% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  80% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes glitch_for_list {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px);
  }
  40% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  60% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  80% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media screen and (max-height: 680px) {
  .all {
        grid-template-areas: "a a" "b c";
    -ms-grid-columns: 4fr 3fr;
        grid-template-columns: 4fr 3fr;
  }
  .class {
    -webkit-transform: none;
            transform: none;
    place-content: center;
    place-items: center;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 2rem 1rem;
  }
  .class > span {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-align: center;
  }
  .class > span:first-child {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .arrows {
    -ms-grid-column-align: right;
        justify-self: right;
    margin-bottom: 0;
    -webkit-transform: translateX(3.75rem);
            transform: translateX(3.75rem);
    /*
    width: 100%;
    & .right {
      justify-self: self-end;
    }*/
  }
}

@media screen and (max-width: 550px) {
  .all {
        grid-template-areas: "back" "a" "b" "c";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .back {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: back;
  }
  .class {
    -webkit-transform: none;
            transform: none;
    place-content: center;
    place-items: center;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 2rem 1rem;
  }
  .class > span {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-align: center;
  }
  .class > span:first-child {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .arrows {
    margin-bottom: 0;
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
  .arrows .right {
    -ms-grid-column-align: self-end;
        justify-self: self-end;
  }
}

@media screen and (max-width: 380px) {
  .list > ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */