@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:700|Roboto:900&display=swap");
* {
  margin: 0;
  font-family: Roboto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 120%;
  text-decoration: none;
  color: currentColor;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  color: #F5F5F5;
  overflow-x: hidden;
}

body {
  background-image: url(./noise.png);
  background-repeat: repeat;
}

img {
  display: block;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 33%;
     object-position: center 33%;
}

.all {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

span {
  display: block;
}

.all {
      grid-template-areas: "a b c";
  -ms-grid-columns: 19fr 34fr 19fr;
      grid-template-columns: 19fr 34fr 19fr;
}

.class {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  display: -ms-grid;
  display: grid;
  place-content: center;
  place-items: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  text-transform: uppercase;
  font-size: 2.5rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.class > span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.info {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  row-gap: 2rem;
  padding: 5rem 2rem;
}

.info .name {
  font-size: 3.75rem;
  text-transform: uppercase;
  display: table-caption;
}

.info .nickname {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.info .nickname::before {
  content: '';
  height: 6px;
  width: 2.5rem;
  display: inline-block;
  background-color: #F5F5F5;
  margin-bottom: calc(2rem / 3);
  margin-right: .75rem;
}

.info .about {
  font-size: 1.25rem;
  font-family: Roboto Mono;
}

.arrows {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  align-self: flex-end;
  justify-self: flex-start;
  margin-bottom: 2rem;
  -webkit-transform: translateX(-3.75rem);
          transform: translateX(-3.75rem);
}

.arrows > div {
  display: block;
  position: relative;
  background-color: #F5F5F5;
  width: 3.75rem;
  height: 3.75rem;
  padding: 1.2rem;
  cursor: pointer;
}

.arrows > div:hover {
  background-color: #111319;
}

.arrows > div:hover > div::after, .arrows > div:hover > div::before {
  background-color: #F5F5F5;
}

.arrows > div:hover div:nth-child(2) {
  -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.arrows > div:hover div:nth-child(2)::after, .arrows > div:hover div:nth-child(2)::before {
  background-color: #f0f;
}

.arrows > div:hover div:nth-child(1) {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.arrows > div:hover div:nth-child(1)::after, .arrows > div:hover div:nth-child(1)::before {
  background-color: #0ff;
}

.arrows > div > div {
  position: absolute;
  top: 1.2rem;
  bottom: 1.2rem;
  right: 1.2rem;
  left: 1.2rem;
}

.arrows > div > div::after, .arrows > div > div::before {
  content: '';
  display: block;
  background-color: #111319;
  position: absolute;
  top: 0;
  right: 0;
}

.arrows > div > div::after {
  left: 0;
  height: 8px;
}

.arrows > div > div::before {
  bottom: 0;
  width: 8px;
}

.arrows > div.left > div {
  -webkit-transform: translateX(2px) rotate(-135deg);
          transform: translateX(2px) rotate(-135deg);
}

.arrows > div.right > div {
  -webkit-transform: translateX(-2px) rotate(45deg);
          transform: translateX(-2px) rotate(45deg);
}

@-webkit-keyframes glitch {
  0% {
    top: 1.2rem;
    bottom: 1.2rem;
    right: 1.2rem;
    left: 1.2rem;
  }
  20% {
    top: calc(1.2rem + 1px);
    bottom: calc(1.2rem - 1px);
    right: calc(1.2rem + 1px);
    left: calc(1.2rem - 1px);
  }
  40% {
    top: calc(1.2rem - 1px);
    bottom: calc(1.2rem + 1px);
    right: calc(1.2rem + 1px);
    left: calc(1.2rem - 1px);
  }
  60% {
    top: calc(1.2rem + 1px);
    bottom: calc(1.2rem - 1px);
    right: calc(1.2rem - 1px);
    left: calc(1.2rem + 1px);
  }
  80% {
    top: calc(1.2rem - 1px);
    bottom: calc(1.2rem + 1px);
    right: calc(1.2rem - 1px);
    left: calc(1.2rem + 1px);
  }
  to {
    top: 1.2rem;
    bottom: 1.2rem;
    right: 1.2rem;
    left: 1.2rem;
  }
}

@keyframes glitch {
  0% {
    top: 1.2rem;
    bottom: 1.2rem;
    right: 1.2rem;
    left: 1.2rem;
  }
  20% {
    top: calc(1.2rem + 1px);
    bottom: calc(1.2rem - 1px);
    right: calc(1.2rem + 1px);
    left: calc(1.2rem - 1px);
  }
  40% {
    top: calc(1.2rem - 1px);
    bottom: calc(1.2rem + 1px);
    right: calc(1.2rem + 1px);
    left: calc(1.2rem - 1px);
  }
  60% {
    top: calc(1.2rem + 1px);
    bottom: calc(1.2rem - 1px);
    right: calc(1.2rem - 1px);
    left: calc(1.2rem + 1px);
  }
  80% {
    top: calc(1.2rem - 1px);
    bottom: calc(1.2rem + 1px);
    right: calc(1.2rem - 1px);
    left: calc(1.2rem + 1px);
  }
  to {
    top: 1.2rem;
    bottom: 1.2rem;
    right: 1.2rem;
    left: 1.2rem;
  }
}

.glitch {
  position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(name);
  padding: 30px;
  margin-top: -30px;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./noise.png);
  background-repeat: repeat;
  overflow: hidden;
  top: 0;
}

.glitch::before {
  left: -27px;
  text-shadow: -2px 0 red;
  -webkit-animation-name: glitch-animation-1;
          animation-name: glitch-animation-1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: steps(30);
          animation-timing-function: steps(30);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

.glitch::after {
  left: -33px;
  text-shadow: -2px 0 blue;
  -webkit-animation-name: glitch-animation-2;
          animation-name: glitch-animation-2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: steps(30);
          animation-timing-function: steps(30);
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

@-webkit-keyframes glitch-animation-1 {
  0% {
    clip: rect(91px, 350px, 149px, 30px);
  }
  3.33333% {
    clip: rect(146px, 350px, 109px, 30px);
  }
  6.66667% {
    clip: rect(101px, 350px, 365px, 30px);
  }
  10% {
    clip: rect(17px, 350px, 381px, 30px);
  }
  13.33333% {
    clip: rect(80px, 350px, 298px, 30px);
  }
  16.66667% {
    clip: rect(60px, 350px, 28px, 30px);
  }
  20% {
    clip: rect(67px, 350px, 2px, 30px);
  }
  23.33333% {
    clip: rect(83px, 350px, 88px, 30px);
  }
  26.66667% {
    clip: rect(33px, 350px, 404px, 30px);
  }
  30% {
    clip: rect(68px, 350px, 312px, 30px);
  }
  33.33333% {
    clip: rect(128px, 350px, 336px, 30px);
  }
  36.66667% {
    clip: rect(61px, 350px, 292px, 30px);
  }
  40% {
    clip: rect(137px, 350px, 61px, 30px);
  }
  43.33333% {
    clip: rect(139px, 350px, 228px, 30px);
  }
  46.66667% {
    clip: rect(122px, 350px, 16px, 30px);
  }
  50% {
    clip: rect(117px, 350px, 376px, 30px);
  }
  53.33333% {
    clip: rect(53px, 350px, 137px, 30px);
  }
  56.66667% {
    clip: rect(64px, 350px, 105px, 30px);
  }
  60% {
    clip: rect(10px, 350px, 365px, 30px);
  }
  63.33333% {
    clip: rect(2px, 350px, 132px, 30px);
  }
  66.66667% {
    clip: rect(72px, 350px, 404px, 30px);
  }
  70% {
    clip: rect(48px, 350px, 424px, 30px);
  }
  73.33333% {
    clip: rect(42px, 350px, 304px, 30px);
  }
  76.66667% {
    clip: rect(142px, 350px, 384px, 30px);
  }
  80% {
    clip: rect(73px, 350px, 83px, 30px);
  }
  83.33333% {
    clip: rect(148px, 350px, 192px, 30px);
  }
  86.66667% {
    clip: rect(102px, 350px, 183px, 30px);
  }
  90% {
    clip: rect(1px, 350px, 167px, 30px);
  }
  93.33333% {
    clip: rect(56px, 350px, 441px, 30px);
  }
  96.66667% {
    clip: rect(43px, 350px, 32px, 30px);
  }
  100% {
    clip: rect(48px, 350px, 214px, 30px);
  }
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(91px, 350px, 149px, 30px);
  }
  3.33333% {
    clip: rect(146px, 350px, 109px, 30px);
  }
  6.66667% {
    clip: rect(101px, 350px, 365px, 30px);
  }
  10% {
    clip: rect(17px, 350px, 381px, 30px);
  }
  13.33333% {
    clip: rect(80px, 350px, 298px, 30px);
  }
  16.66667% {
    clip: rect(60px, 350px, 28px, 30px);
  }
  20% {
    clip: rect(67px, 350px, 2px, 30px);
  }
  23.33333% {
    clip: rect(83px, 350px, 88px, 30px);
  }
  26.66667% {
    clip: rect(33px, 350px, 404px, 30px);
  }
  30% {
    clip: rect(68px, 350px, 312px, 30px);
  }
  33.33333% {
    clip: rect(128px, 350px, 336px, 30px);
  }
  36.66667% {
    clip: rect(61px, 350px, 292px, 30px);
  }
  40% {
    clip: rect(137px, 350px, 61px, 30px);
  }
  43.33333% {
    clip: rect(139px, 350px, 228px, 30px);
  }
  46.66667% {
    clip: rect(122px, 350px, 16px, 30px);
  }
  50% {
    clip: rect(117px, 350px, 376px, 30px);
  }
  53.33333% {
    clip: rect(53px, 350px, 137px, 30px);
  }
  56.66667% {
    clip: rect(64px, 350px, 105px, 30px);
  }
  60% {
    clip: rect(10px, 350px, 365px, 30px);
  }
  63.33333% {
    clip: rect(2px, 350px, 132px, 30px);
  }
  66.66667% {
    clip: rect(72px, 350px, 404px, 30px);
  }
  70% {
    clip: rect(48px, 350px, 424px, 30px);
  }
  73.33333% {
    clip: rect(42px, 350px, 304px, 30px);
  }
  76.66667% {
    clip: rect(142px, 350px, 384px, 30px);
  }
  80% {
    clip: rect(73px, 350px, 83px, 30px);
  }
  83.33333% {
    clip: rect(148px, 350px, 192px, 30px);
  }
  86.66667% {
    clip: rect(102px, 350px, 183px, 30px);
  }
  90% {
    clip: rect(1px, 350px, 167px, 30px);
  }
  93.33333% {
    clip: rect(56px, 350px, 441px, 30px);
  }
  96.66667% {
    clip: rect(43px, 350px, 32px, 30px);
  }
  100% {
    clip: rect(48px, 350px, 214px, 30px);
  }
}

@-webkit-keyframes glitch-animation-2 {
  0% {
    clip: rect(144px, 350px, 306px, 30px);
  }
  3.33333% {
    clip: rect(136px, 350px, 325px, 30px);
  }
  6.66667% {
    clip: rect(145px, 350px, 212px, 30px);
  }
  10% {
    clip: rect(116px, 350px, 202px, 30px);
  }
  13.33333% {
    clip: rect(21px, 350px, 410px, 30px);
  }
  16.66667% {
    clip: rect(52px, 350px, 195px, 30px);
  }
  20% {
    clip: rect(129px, 350px, 387px, 30px);
  }
  23.33333% {
    clip: rect(118px, 350px, 105px, 30px);
  }
  26.66667% {
    clip: rect(119px, 350px, 158px, 30px);
  }
  30% {
    clip: rect(116px, 350px, 63px, 30px);
  }
  33.33333% {
    clip: rect(16px, 350px, 73px, 30px);
  }
  36.66667% {
    clip: rect(95px, 350px, 113px, 30px);
  }
  40% {
    clip: rect(57px, 350px, 448px, 30px);
  }
  43.33333% {
    clip: rect(99px, 350px, 184px, 30px);
  }
  46.66667% {
    clip: rect(131px, 350px, 44px, 30px);
  }
  50% {
    clip: rect(34px, 350px, 100px, 30px);
  }
  53.33333% {
    clip: rect(104px, 350px, 1px, 30px);
  }
  56.66667% {
    clip: rect(39px, 350px, 308px, 30px);
  }
  60% {
    clip: rect(76px, 350px, 352px, 30px);
  }
  63.33333% {
    clip: rect(31px, 350px, 194px, 30px);
  }
  66.66667% {
    clip: rect(91px, 350px, 397px, 30px);
  }
  70% {
    clip: rect(145px, 350px, 68px, 30px);
  }
  73.33333% {
    clip: rect(136px, 350px, 124px, 30px);
  }
  76.66667% {
    clip: rect(34px, 350px, 68px, 30px);
  }
  80% {
    clip: rect(85px, 350px, 317px, 30px);
  }
  83.33333% {
    clip: rect(63px, 350px, 23px, 30px);
  }
  86.66667% {
    clip: rect(63px, 350px, 275px, 30px);
  }
  90% {
    clip: rect(25px, 350px, 438px, 30px);
  }
  93.33333% {
    clip: rect(32px, 350px, 260px, 30px);
  }
  96.66667% {
    clip: rect(72px, 350px, 140px, 30px);
  }
  100% {
    clip: rect(33px, 350px, 102px, 30px);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(144px, 350px, 306px, 30px);
  }
  3.33333% {
    clip: rect(136px, 350px, 325px, 30px);
  }
  6.66667% {
    clip: rect(145px, 350px, 212px, 30px);
  }
  10% {
    clip: rect(116px, 350px, 202px, 30px);
  }
  13.33333% {
    clip: rect(21px, 350px, 410px, 30px);
  }
  16.66667% {
    clip: rect(52px, 350px, 195px, 30px);
  }
  20% {
    clip: rect(129px, 350px, 387px, 30px);
  }
  23.33333% {
    clip: rect(118px, 350px, 105px, 30px);
  }
  26.66667% {
    clip: rect(119px, 350px, 158px, 30px);
  }
  30% {
    clip: rect(116px, 350px, 63px, 30px);
  }
  33.33333% {
    clip: rect(16px, 350px, 73px, 30px);
  }
  36.66667% {
    clip: rect(95px, 350px, 113px, 30px);
  }
  40% {
    clip: rect(57px, 350px, 448px, 30px);
  }
  43.33333% {
    clip: rect(99px, 350px, 184px, 30px);
  }
  46.66667% {
    clip: rect(131px, 350px, 44px, 30px);
  }
  50% {
    clip: rect(34px, 350px, 100px, 30px);
  }
  53.33333% {
    clip: rect(104px, 350px, 1px, 30px);
  }
  56.66667% {
    clip: rect(39px, 350px, 308px, 30px);
  }
  60% {
    clip: rect(76px, 350px, 352px, 30px);
  }
  63.33333% {
    clip: rect(31px, 350px, 194px, 30px);
  }
  66.66667% {
    clip: rect(91px, 350px, 397px, 30px);
  }
  70% {
    clip: rect(145px, 350px, 68px, 30px);
  }
  73.33333% {
    clip: rect(136px, 350px, 124px, 30px);
  }
  76.66667% {
    clip: rect(34px, 350px, 68px, 30px);
  }
  80% {
    clip: rect(85px, 350px, 317px, 30px);
  }
  83.33333% {
    clip: rect(63px, 350px, 23px, 30px);
  }
  86.66667% {
    clip: rect(63px, 350px, 275px, 30px);
  }
  90% {
    clip: rect(25px, 350px, 438px, 30px);
  }
  93.33333% {
    clip: rect(32px, 350px, 260px, 30px);
  }
  96.66667% {
    clip: rect(72px, 350px, 140px, 30px);
  }
  100% {
    clip: rect(33px, 350px, 102px, 30px);
  }
}

.list {
      grid-template-areas: "l";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-content: center;
  place-items: center;
}

.list > ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: .5;
}

.list > ul > li {
  display: blocks;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.list > ul > li > a {
  display: block;
  padding: 1rem 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
}

.list > ul > li > a:hover > span:before {
  -webkit-animation: glitch_for_list 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: glitch_for_list 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.list > ul > li > a:hover > span:after {
  animation: glitch_for_list 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

.list > ul > li > a > span {
  display: inline;
  text-transform: uppercase;
  opacity: .8;
  position: relative;
}

.list > ul > li > a > span:before, .list > ul > li > a > span:after {
  display: block;
  content: attr(name);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
}

.list > ul > li > a > span:after {
  color: #f0f;
  z-index: -2;
}

.list > ul > li > a > span:before {
  color: #0ff;
  z-index: -1;
}

.list > ul > li > a:hover > span, .list > ul > li > a:focus > span {
  display: inline;
  text-transform: uppercase;
  opacity: 1;
  -webkit-transition: ease-in 100ms;
  transition: ease-in 100ms;
}

@-webkit-keyframes glitch_for_list {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes glitch_for_list {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media screen and (max-height: 680px) {
  .all {
        grid-template-areas: "a a" "b c";
    -ms-grid-columns: 4fr 3fr;
        grid-template-columns: 4fr 3fr;
  }
  .class {
    -webkit-transform: none;
            transform: none;
    place-content: center;
    place-items: center;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 2rem 1rem;
  }
  .class > span {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-align: center;
  }
  .class > span:first-child {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .arrows {
    -ms-grid-column-align: right;
        justify-self: right;
    margin-bottom: 0;
    -webkit-transform: translateX(3.75rem);
            transform: translateX(3.75rem);
    /*
    width: 100%;
    & .right {
      justify-self: self-end;
    }*/
  }
}

@media screen and (max-width: 550px) {
  .all {
        grid-template-areas: "a" "b" "c";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .class {
    -webkit-transform: none;
            transform: none;
    place-content: center;
    place-items: center;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 2rem 1rem;
  }
  .class > span {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-align: center;
  }
  .class > span:first-child {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .arrows {
    margin-bottom: 0;
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
  .arrows .right {
    -ms-grid-column-align: self-end;
        justify-self: self-end;
  }
}

@media screen and (max-width: 380px) {
  .list > ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */